/* Primary Colors: #2549D3, #0F298B, #FAFAFA,#FFFFFF
Font Styles: Space Grotesk, Oleo Script */
:root{
    --background: #2549D3;
    --button: #0F298B;
    --body:#FAFAFA;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #FAFAFA;
    font-family: 'Space Grotesk';
    font-size: 20px;
}
.firstpage{
    height: 100vh;
}
header{
    /* background-color: burlywood; */
    width: 75%;
    margin: auto;

}
nav
{
    padding-top: 40px;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
    flex-direction: row; 
}
nav li{
    align-items: center;
    list-style: none;
    margin-left: 70px;
    font-size: 18px;
}
.logo{
    font-weight: 500;
    font-family: 'Oleo Script';
    font-size: 2rem;
}
/* .started {
    background-color: #2549D3;
    
} */
 nav button{
    background-color: #2549D3; 
    border: none;
    border-radius: 10px;
    color: #FAFAFA;
    height: 50px;
    width: 150px;
    font-size: 18px;
    font-weight: 600;
}
.horizontal{
    width: 85%;
    margin: auto;
    margin-top: 10px;
   
}

/* first container */
.main{
    /* background-color: coral; */
    width: 75%;
    margin: auto;
    display: flex;
    flex-direction: row;   
}
.main1{
    margin-top: 50px;
}
/* .content{
    align-items: ;
    
} */

.details h3{
    font-size: 42px;
    color: #0F298B;
    font-weight: 600;
    margin-bottom: 15px;
}
.buttons2{
    background-clip: content-box;
}
.content button{
    margin: 30px 40px 10px 0;
    background-color: #2549D3; 
    border: none;
    border-radius: 10px;
    color: #FAFAFA;
    height: 50px;
    width: 150px;
    font-size: 18px;
    font-weight: 600;
}

.propertyDet{
    background-color:#FFFFFF;
    width: 70%;
    margin: auto;
    margin-top: 100px;
    height: 10vh;
    border-radius: 15px;
    box-shadow: 12px 15px rgba(0,0,0,0.10);

   
}
.propContent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:  0 50px;
    padding-top: 20px;
}
.cont label{
    color: #0F298B;
    font-weight: 600;
    
}
.cont p{
    color: black;
    opacity: 0.5;
}
.cont button{
    background-color: #2549D3; 
    border: none;
    border-radius: 10px;
    color: #FAFAFA;
    height: 50px;
    width: 150px;
    font-size: 18px;
    font-weight: 600;
}
.container{
    height: 85vh;
    width: 70%;
    margin: auto;
 
}
.products h1{
    margin-bottom: 5px;
    color: #0F298B;
}
.containerHead{
    text-align: center;
}
.containerHead h1{
    color: #0F298B;
}
.containerContent{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.card{
    background-color: #FFFFFF;
    margin: 40px 20px 0;
}
.cardContent1{
   
   height: 40vh;
   width: 300px;
   padding: 70px 30px 50px;
   flex-direction: column;
   text-align: center;
   justify-content: center;
   border-radius: 15px; 
}

.cardContent h2{
    margin-top: 20px 0 30px;
}
.main2{
    background-color: coral;
    height: 70vh;
    justify-content: space-between;
}
.checked{
    width: 70%;
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    justify-content: space-between;

}
.checked p{
    font-weight: 600;
}
.checked .fa{
    color: #0F298B;
}

