/* Primary Colors: #2549D3, #0F298B, #FAFAFA,#FFFFFF
Font Styles: Space Grotesk, Oleo Script */
:root{
    --background: #2549D3;
    --button: #0F298B;
    --body:#FAFAFA;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #FAFAFA;
    font-family: 'Space Grotesk';
}
header{
    /* background-color: burlywood; */
    width: 85%;
    margin: auto;

}
nav
{
    padding-top: 40px;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
    flex-direction: row; 
}
nav li{
    align-items: center;
    list-style: none;
    margin-left: 70px;
    font-size: 18px;
}
.logo{
    font-weight: 500;
    font-family: 'Oleo Script';
    font-size: 2rem;
}
/* .started {
    background-color: #2549D3;
    
} */
 nav button{
    background-color: #2549D3; 
    border: none;
    border-radius: 10px;
    color: #FAFAFA;
    height: 50px;
    width: 150px;
    font-size: 18px;
    font-weight: 600;
}
.horizontal{
    width: 95%;
    margin: auto;
    margin-top: 10px;
   
}