/* Primary Colors: #2549D3, #0F298B, #FAFAFA,#FFFFFF
Font Styles: Space Grotesk, Oleo Script */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
   
}
body{
    background-color: #FAFAFA;
    font-family: 'Space Grotesk';
    font-size: 20px;
    
}

.firstpage{
    height: 100vh;
}

/* Styling the links */
a{
    text-decoration: none;
    color: inherit;
}
a>li:hover{
    color: #0F298B;
    text-decoration: underline;
   
}

/* Styling the navigation bar */
header{
    width: 75%;
    margin: auto;

}
nav
{
    padding-top: 40px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
    flex-direction: row; 
}
nav li{
    align-items: center;
    list-style: none;
    margin-left: 70px;
    font-size: 18px;
}
.logo{
    font-weight: 500;
    font-family: 'Oleo Script';
    font-size: 2rem;
}

 nav button{
    background-color: #2549D3; 
    border: none;
    border-radius: 10px;
    color: #FAFAFA;
    height: 50px;
    width: 150px;
    font-size: 18px;
    font-weight: 600;
}
.horizontal{
    width: 85%;
    margin: auto;
    margin-top: 10px;
   
}

/*  The first page of the landing page */
.main{
    width: 75%;
    margin: auto;
    display: flex;
    flex-direction: row;   
}
.main1{
    margin-top: 50px;
}
.details h3{
    font-size: 42px;
    color: #0F298B;
    font-weight: 600;
    margin-bottom: 15px;
}
.buttons2{
    background-clip: content-box;
}
.content button{
    margin: 30px 40px 10px 0;
    background-color: #2549D3; 
    border: none;
    border-radius: 10px;
    color: #FAFAFA;
    height: 50px;
    width: 150px;
    font-size: 18px;
    font-weight: 600;
}

/* Styling The property details section, that is, location etc */
.propertyDet{
    background-color:#FFFFFF;
    width: 70%;
    margin: auto;
    margin-top: 100px;
    height: 100px;
    border-radius: 15px;
    box-shadow: 12px 15px rgba(0,0,0,0.10);

   
}
.propContent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:  0 50px;
    padding-top: 20px;
}
.cont label{
    color: #0F298B;
    font-weight: 600;
    
}
.cont p{
    color: black;
    opacity: 0.5;
}
.cont button{
    background-color: #2549D3; 
    border: none;
    border-radius: 10px;
    color: #FAFAFA;
    height: 50px;
    width: 150px;
    font-size: 18px;
    font-weight: 600;
}

/* Styling Our products section */
.container{
    
    width: 70%;
    margin: auto;
    margin-bottom: 200px;
 
}
.products h1{
    margin-bottom: 5px;
    color: #0F298B;
}
.containerHead{
    text-align: center;
}
.containerHead h1{
    color: #0F298B;
}
.containerHead p{
    font-size: 22px;
    padding-top: 10px;
}
.containerContent{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.card{
    background-color: #FFFFFF;
    margin: 40px 20px 0;
}
.cardContent1{
   
   /* height: 40vh; */
   width: 300px;
   padding: 70px 30px 50px;
   flex-direction: column;
   text-align: center;
   justify-content: center;
   border-radius: 15px; 
}

.cardContent h2{
    margin-top: 20px 0 30px;
}

/* Styling Why choose us section */
.main2{
    margin-bottom: 150px;
    justify-content: space-between;
}
.flexItems{
    width: 70%;
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    justify-content: space-between;

}
.checked p{
    font-weight: 600;
}
.checked .fa{
    color: #0F298B;
}


/* Styling Our Propertie section */
.cards2{
    margin-top: 30px;
}
.cardContent2{
    height: 250px;
    border-radius: 5px;
    
}
.leftProp h2{
  font-size: 20px;
}
.spaceProp{
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}
.spaceProp p{
  color: black;
  opacity: 0.6;
  font-size: 15px;
}
.rightProp h5 span{
    color: #0F298B;
}
.butProp button{
 margin-top: 5px;
    float: right;
    clear: both;
}
.customers{
  
    width: 350px;
    height: fit-content;
    padding: 20px 10px;
}
.customers p{
    font-size: 18px;
    color: black;
    opacity: 0.6;
    margin-top: 5px;
}
.customers h6{
    padding: 6px 0 0;
}

/* Styling the footer section */
footer{
    background-color: #0F298B;
    height: 350px;
    width: 75%;
    margin: auto;
}
.footerContent{
    
    padding: 25px 10px 0 100px;
}
.footerContent, .estateAbouts{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
}

.list, .vallie{
    
    width: 300px;
    height: 200px;
    color: #FAFAFA;
}
.list ul{
    margin-top: 20px;
}
.list ul>li{
   list-style: none;
   margin-top: 10px;
   opacity: 0.8;
}

